.App {
  text-align: center;
}
/* input {
  min-width: 800px;
} */

/* .inputWrapper {
  border: 1px solid black;
  max-width: 1000px;
  border-radius: 5px;
  padding: 20px;
} */
li {
  list-style-type: none;
}
button {
  margin: 20px;
  cursor: pointer;
}
.trashcan::after {
  content: "\f1f8";
  font: var(--fa-font-solid);
  font-size: 10px;
}
